.users {
    display: grid;
    overflow: auto;
    height: calc(100vh - 102px);
    /*grid-template-columns: 2fr 10fr;
    padding: 20px;*/
    /*overflow: auto;*/

}

.btnseemore{
    margin: 10px;
    height: 30px;
}

.selected{
    font-family: -apple-system;
    color: red;
}

.unselected{

}

.navigationEl{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px
}