.user {
    display: grid;
    grid-auto-columns: 2fr 10fr;
    padding: 10px;
    grid-template-areas:
    "imgb i";
    background-color: lightgreen;
    margin: 10px;
    border-radius: 20px;
}
.imgBtn {
    display: grid;
    grid-auto-rows: 8fr 2fr;
    margin: 10px;
    grid-area: imgb;
    height: 150px;
}

.userinfo{
    display: grid;
    grid-template-areas:
    "n co"
    "s co";
    grid-auto-columns: 7fr 3fr;
    grid-auto-rows: 1fr 1fr;
    padding: 10px;

}

.username{
    grid-area: n;
    /*width: fit-content;*/
}

.userLocation{
    grid-area: co;
    display: flex;
    justify-self: end;
    /*width: fit-content;*/
}

.location{
    flex-direction: column;
    align-self: center;
    /*justify-self: end;*/
}

.userStatus{
    grid-area: s;
    align-self: end;
    width: fit-content;
}

.user img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    justify-self: center;
}

.link{
    margin: auto 5%;
}