.header{
    grid-area: h;
    background-color: blueviolet;
    /*background-color: white;*/
    display: flex;
}

.header img{
    width: 50px;
    margin: 5px;

}

.emailOrLogin{
    justify-self: end;
}