.content{
    /*grid-area: c;
    background-color: blue;*/

}

.contentImg{
    width: 1000px;
}

.contentDescription{
    padding: 20px;
    /* margin: 5px;*/

}

.profileImg{

}

.contactsLink a{
   /* text-decoration: none;*/
    color: black;
}