.textArea{
    position: absolute;
    bottom: 0;
    margin: 10px;

    width: auto;
    display: grid;
    grid-template-areas:
            "txt btnadd";

    /*grid-template-rows: 1fr 1fr;*/
    grid-template-columns: 9fr 1fr;
}

.btnAdd{
    grid-area: btnadd;
}

.area{
    grid-area: txt;
}
